.......................<!-- tags -->.............................
<div class="change" style="color:red">this is a program</div> 
 <!-- this style is inline style -->
 <!-- inline style is given high priority than outline  -->
 <!-- div is block level element -->
<span class="change">this is a program</span> 
<!-- this style is outline style -->
 <!-- it is inlne element -->
<p id="change1">this is a program</p> 
 <!-- it is a paragraph -->
<h1>this is a program</h1>
<h2>this is a program</h2>
<h3>this is a program</h3>
<h4>this is a program</h4>
<h5>this is a program</h5>
<h6>this is a program</h6>
 <!-- style h1,h2,h3,h4,h5,h6 -->

 <div class="change"> 
   parent will transfer any properties  to child
   <span>This is a program </span>
   <span>This is a program1 </span>
 </div>

html containers tags like header,sections,footer,etc
<header></header>
..........

<section>
<section> </section>
</section>

<section> </section>
.............
<footer></footer>

....
<br> 
<!-- it break the sentence into two parts -->
<p> hemanth loves<br> vizag</p>

<b>hemanth</b> 
 <strong> hemanth</strong>
 <i class="make"> hemanth</i>
 <u class="make1">hemanth</u>

 .......
 <!-- https://www.w3schools.com/html/ -->