

.......................<!-- tags -->.............................
<div class="change" style="color:red">this is a program</div> 
 <!-- this style is inline style -->
 <!-- inline style is given high priority than outline  -->
 <!-- div is block level element -->
<span class="change">this is a program</span> 
<!-- this style is outline style -->
 <!-- it is inlne element -->
<p id="change1">this is a program</p> 
 <!-- it is a paragraph -->
<h1>this is a program</h1>
<h2>this is a program</h2>
<h3>this is a program</h3>
<h4>this is a program</h4>
<h5>this is a program</h5>
<h6>this is a program</h6>
 <!-- style h1,h2,h3,h4,h5,h6 -->

 <div class="change"> 
   parent will transfer any properties  to child
   <span>This is a program </span>
   <span>This is a program1 </span>
 </div>

html containers tags like header,sections,footer,etc
<header></header>
..........

<section>
<section> </section>
</section>

<section> </section>
.............
<footer></footer>

....
<br> 
<!-- it break the sentence into two parts -->
<p> hemanth loves<br> vizag</p>

<b>hemanth</b> 
 <strong> hemanth</strong>
 <i class="make"> hemanth</i>
 <u class="make1">hemanth</u>

 .......
 <!-- https://www.w3schools.com/html/ -->
 <br>
 <a href="https://www.w3schools.com/"> w3 schools</a>
 <img src="assets/angular.png" height="300" width="300">
 <p style="color:red;background-color: blue;">this a simple data</p>

 <ul>
   <li>home</li>
   <li>addres</li>
 </ul>

 <ol>
  <li>home</li>
  <li>addres</li>
</ol>

<table>
  <thead>simple data</thead>
  <tr>
    <th>good</th>
    <th>bad</th>

  </tr>
  <td>some data</td>
  <td>some data1</td>
  <tr>
    <th>good1</th>
    <th>bad1</th>
  </tr>
    <td>some data</td>
  <td>some data1</td>
  
</table>

<!-- class is always represnted by '.' -->
<!-- id is always represnted by '#' -->
<!-- high priority is given to class -->
<p class="fog"> Are You Thinking of Making Or Updating Your Will? Download Your Free Will Guide Today. Our Free Will Writing Guide Can Help You Plan For The Future. Donate Online. Download Free Guide. 
  View News. Sign Up For Developments. Options: Monthly Donation, Single
</p>

<p id="fog"> Are You Thinking of Making Or Updating Your Will? Download Your Free Will Guide Today. Our Free Will Writing Guide Can Help You Plan For The Future. Donate Online. Download Free Guide. 
  View News. Sign Up For Developments. Options: Monthly Donation, Single
</p>

<p style="color: red;
border: 1px solid green;
colorbackground-: cornflowerblue;
margin: 34px;"> Are You Thinking of Making Or Updating Your Will? Download Your Free Will Guide Today. Our Free Will Writing Guide Can Help You Plan For The Future. Donate Online. Download Free Guide. 
  View News. Sign Up For Developments. Options: Monthly Donation, Single
</p>


components in angular

<button>submit </button>
username:<input type="text">
password:<input type="password">
number:<input type="number">
checkbox:<input type="checkbox">
radio:<input type="radio">
readonly:<input type="text" readonly="true">
disabled:<input type="text" disabled="true">
maxlength:<input type="text" maxlength="4">
min:<input type="number" min="4" max="7">
max:<input type="text" >

<input type="number" name="id" min="1" max="10"><br>
dropdown
<select name="item">
  <option value="name1">name1</option>
  <option value="name2">name2</option>
  <option value="name3">name3</option>

</select>

<input type="password" name="password" autocomplete="current-password" required="" id="id_password">
  <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
<app-website></app-website>

<app-responsive></app-responsive>